*.*sdf
*.ipch
*.obj
*.exe
*.dll
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.sbr
*.scc
pdb/
libs/
_ReSharper*/
obj/
*.[Pp]ublish.xml
[Bb]in
[Db]ebug*/
[Rr]elease*/
[Tt]humbs.db
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
[Tt]est
test/out/*
include/pc_config.h