*.publish.xml
*.Publish.xml
*.*db
*.*sdf
*.ipch
*.obj
*.exe
*.dll
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.sbr
*.scc
Bin/
Debug*/
Release*/
pdb/
libs/
obj/
test/out/
include/pc_config.h
